table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
}

th,
td {
  padding: 0.75rem;
  border: 1px solid white;
  text-align: left;
}

th {
  cursor: pointer;
  background-color: blueviolet;
}

.controls {
  margin-bottom: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}

tr:nth-child(even) {
  background-color: green;
}

.pagination {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

button {
  padding: 0.5rem 1rem;
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

input[type="text"] {
  padding: 0.5rem;
  border: 1px solid white;
  border-radius: 4px;
}

select {
  padding: 0.5rem;
  border: 1px solid white;
  border-radius: 4px;
}
